
<partial name="_ValidationScriptsPartial" />
<style>
      span.star {
            color: red;
      }
</style>
<script src="~/js/Admin/income-crud.js"></script>
<script src="~/js/Admin/common_service.js"></script>
<div class="row quick-action-toolbar">
      <div class="col-md-12 grid-margin" style="margin-top:0px">
            <div class="card">
                  <div class="card-header d-block d-md-flex">
                        <h5 class="mb-0"><i class="icon-note"></i> Edit Income</h5>
                        <p class="ml-auto mb-0">Get the experience of using this application!!<i class="icon-bulb"></i></p>
                  </div>
                  <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
                        <div class="col-md-6 grid-margin stretch-card">
                              <div class="card">
                                    <div class="card-body">
                                          <form class="forms-sample">
                                                <input type="hidden" id="hdnIncomeId" />
                                                <div class="form-group">
                                                      <label for="exampleFormControlSelect2">Duplex<span class="star">*</span></label>
                                                      <select class="form-control Mandatory" id="drpDuplexNumber" data-label="Duplex">
                                                      
                                                      </select>
                                                      <small class="form-text" id="ErrdrpDuplexNumber" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtOwnerName">Owner Name <span class="star">*</span></label>
                                                      <input type="text" class="form-control Mandatory" id="txtOwnerName" placeholder="Owner Name" data-label="Owner Name" readonly>
                                                      <small class="form-text" id="ErrtxtOwnerName" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtHeading">Purpose <span class="star">*</span></label>
                                                      <input type="text" class="form-control Mandatory" id="txtPurpose" name="txtPurpose" placeholder="Expense Head" data-label="Purpose">
                                                      <small class="form-text" id="ErrtxtPurpose" style="display:none; color:red"></small>

                                                </div>
                                                <div class="form-group">
                                                      <label for="exampleFormControlSelect2">Payment Type <span class="star">*</span></label>
                                                      <select class="form-control Mandatory" id="drpPaymentType" data-label="Payment Type">
                                                            <option value="0" selected>--Select Payment Type--</option>
                                                            <option value="Cash">Cash</option>
                                                            <option value="Net Banking">Net Banking</option>
                                                            <option value="UPI">UPI</option>
                                                      </select>
                                                      <small class="form-text" id="ErrdrpPaymentType" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtWhomTransId">To Whom/ Transaction Id <span class="star">*</span></label>
                                                      <input type="text" class="form-control Mandatory" id="txtWhomTransId" placeholder="Transaction id/Cash deposit to" data-label="To whom/Transaction Id">
                                                      <small class="form-text" id="ErrtxtWhomTransId" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtPaymentDate">Payment Date <span class="star">*</span></label>
                                                      <input type="date" class="form-control Mandatory" id="txtPaymentDate" placeholder="Payment Date" data-label="Payment Date">
                                                      <small class="form-text" id="ErrtxtPaymentDate" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtNarration">Narration <span class="star">*</span></label>
                                                      <input type="text" class="form-control Mandatory" id="txtNarration" placeholder="Narration" data-label="Narration">
                                                      <small class="form-text" id="ErrtxtNarration" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-check form-check-flat form-check-primary">
                                                      <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" id="cbStatus" checked> Active
                                                      </label>
                                                </div>
                                                <button type="button" class="btn btn-primary mr-2" onclick="updateIncome()">Update</button>
                                                <a class="btn btn-primary" asp-controller="Income" asp-action="Index">Cancel</a>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

