@{
      ViewData["Title"] = "Notice page";
}


<partial name="_ValidationScriptsPartial" />
<script src="~/js/Admin/notice_crud.js"></script>
<div class="row quick-action-toolbar">
      <div class="col-md-12 grid-margin" style="margin-top:0px">
            <div class="card">
                  <div class="card-header d-block d-md-flex">
                        <h5 class="mb-0"><i class="icon-note"></i> Edit Notice</h5>
                        <p class="ml-auto mb-0">Get the experience of using this application!!<i class="icon-bulb"></i></p>
                  </div>
                  <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">

                        <div class="col-md-6 grid-margin stretch-card">
                              <div class="card">
                                    <div class="card-body">

                                          <form class="forms-sample">
                                                <input type="hidden" id="hdnNoticeId" />
                                                <div class="form-group">
                                                      <label for="txtHeading">Heading Text</label>
                                                      <input type="text" class="form-control Mandatory" id="txtHeading" name="txtHeading" placeholder="Heading Text" data-label="Heading Text">
                                                      <small class="form-text" id="ErrtxtHeading" style="display:none; color:red"></small>

                                                </div>
                                                <div class="form-group">
                                                      <label for="txtDescription">Description</label>
                                                      <textarea class="form-control Mandatory" id="txtDescription" rows="4" data-label="Description"></textarea>
                                                      <small class="form-text" id="ErrtxtDescription" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtPostedDate">Posted Date</label>
                                                      <input type="date" class="form-control Mandatory" id="txtPostedDate" placeholder="Posted Date" data-label="Posted Date">
                                                      <small class="form-text" id="ErrtxtPostedDate" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-group">
                                                      <label for="txtEndDate">End Date</label>
                                                      <input type="date" class="form-control Mandatory" id="txtEndDate" placeholder="End Date" data-label="End Date">
                                                      <small class="form-text" id="ErrtxtEndDate" style="display:none; color:red"></small>
                                                </div>
                                                <div class="form-check form-check-flat form-check-primary">
                                                      <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" id="cbStatus" checked> Active
                                                      </label>
                                                </div>
                                                <button type="button" class="btn btn-primary mr-2" onclick="updateNotice()">Update</button>
                                                <a class="btn btn-primary" asp-controller="Notice" asp-action="Index">Cancel</a>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>